<!DOCTYPE html>
<html>	
<head>
	<meta charset="utf-8" />
	<title>{{title}}</title>
  <meta name="description" content="App" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black" />
  <meta name="mobile-web-app-capable" content="yes" />
  <meta http-equiv="cleartype" content="on" />
  <link rel="stylesheet" type="text/css" href="{{css}}" />
</head>
<body>
  <div id="root">{{markup}}</div>
  <script>
    window.__INITIAL_STATE__ = {{initialState}}
  </script>
	<script src="{{js}}"></script>
</body>
</html>