/* Opinionated styles */

@import 'normalize.css';

/* ==========================================================================
   Base styles
   ========================================================================== */


/* From HTML5 boilerplate */

* {
  box-sizing: border-box;
}

html {
  color: #333;
  /*changed from #222 */
  font-size: 1em;
  line-height: 1.4;
}


/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::selection {
  background: #b3d4fc;
  /*blue*/
  text-shadow: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}


/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}


/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}


/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}


/* From Ionic Framework*/

html {
  /*user-select: none;*/
  /*height: 100%;*/
  scroll-behavior: smooth;
  text-size-adjust: 100%;
}

body {
  -webkit-touch-callout: none;
  font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-drag: none;
  /*text-rendering: optimizeLegibility;*/
  /*-webkit-backface-visibility: hidden;*/
}
