@import 'normalize.css/normalize.css';
@import './style2.css';

body {
  background-color: yellow;
}

body {
  background-image: url('./bird1.png'); /* test import url */
}

div {
  background-image: url('./bird2.jpg')
}

.style { color: PeachPuff; /* #FFDAB9 */ }

/* test vendorprefix */
::placeholder { color: #aaa; }
.grid { display: grid }

a {
  color: rebeccapurple;

  &:hover {
    color: color-mod(blue alpha(80%));
  }
}